!!! Strict
%html
  %head
    %link{:rel=>'stylesheet', :href =>"css/bootstrap.css",:type=>'text/css'}
    %link{:rel=>'stylesheet', :href =>"css/todo.css",:type=>'text/css'}
    %media{:name=>'viewport', :content=>'width=device-width, initial-scale=1'}
    %script{:src=>'js/jquery.js'}
    %script{:src=>'js/todo.js'}
    %title Mobile ToDo
  %body
    %div{:id=>'home'}
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Mobile ToDo
        .panel-body
          %p
            %a.btn.btn-success{:href  =>'#'} Add a ToDo

        .panel-footer
          %h4 copyright &copy







