!!! Strict
%html
  %head
    %link{:rel=>'stylesheet', :href =>"css/bootstrap.css",:type=>'text/css'}
    %link{:rel=>'stylesheet', :href =>"css/todo.css",:type=>'text/css'}
    %media{:name=>'viewport', :content=>'width=device-width, initial-scale=1'}
    %script{:src=>'js/jquery.js'}
    %script{:src=>'js/todo.js'}
    %title Mobile ToDo
  %body
    %div{:id=>'home'}
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Mobile ToDo
        .container.body-panel
          .panel-body
            %p
              %a.btn.btn-lg.btn-success.fbutt.addtodo{:href  =>'#'} Add a ToDo
              %a.btn.btn-lg.btn-danger.fbutt#clearalltodo{:href  =>'#'} clear All Todos
              %form
                .form-group
                  .input-group
                    .input-group-addon
                      %span.glyphicon.glyphicon-search
                    %input#exampleInputAmount.form-control{:placeholder => "Search Todos..", :type => "text"}/
              %ul.list-group#listtodos
                -#%li.list-group-item Cras justo odio
                -#%li.list-group-item Dapibus ac facilisis in
                -#%li.list-group-item Morbi leo risus
                -#%li.list-group-item Porta ac consectetur ac
                -#%li.list-group-item Vestibulum at eros
        .panel-footer
          %h4 copyright &copy
    %div{:id=>'add'}
      .row.jumbotron
        .col-xs-3
          %a.btn.btn-lg.btn-danger.pull-left{:href=>"#"}
            %span.glyphicon.glyphicon-remove-circle
            Cancel
        .col-xs-6
          %h2 Add a ToDo
        .col-xs-3
          %a.btn.btn-lg.btn-success.pull-right{:href=>"#"}
            %span.glyphicon.glyphicon-ok
            Save
      .container
        %form.form-inline#addform
          .form-group
            .input-group.btn-block
              .input-group-addon
                %span.glyphicon.glyphicon-search
              %input#todoaddname.form-control{:placeholder => "Add Tdo Name", :type => "text"}/
            .input-group.btn-block
              .input-group-addon
                %span.glyphicon.glyphicon-search
              %input#todoadddate.form-control{:placeholder => "mm/dd/yy", :type => "date"}/
      %footer.jumbotron
        %p MobileTodo &copy
    %div{:id=>'edit'}
      .row.jumbotron
        .col-xs-3
          %a.btn.btn-lg.btn-danger.pull-left{:href=>"#"}
            %span.glyphicon.glyphicon-remove-circle
            Cancel
        .col-xs-6
          %h2 Edit ToDo
        .col-xs-3
          %a.btn.btn-lg.btn-success.pull-right{:href=>"#"}
            %span.glyphicon.glyphicon-ok
            update
      .container
        %form#editform
          .form-group
            .input-group.btn-block
              .input-group-addon
                %span.glyphicon.glyphicon-search
              %input#todoeditname.form-control{:placeholder => "Add Tdo Name", :type => "text"}/
            .input-group.btn-block
              .input-group-addon
                %span.glyphicon.glyphicon-search
              %input#todoeditdate.form-control{:placeholder => "mm/dd/yy", :type => "date"}/
              %input{:type=>'hidden',:id=>'hidden_id'}
      %footer.jumbotron
        %p MobileTodo &copy